<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492470960559-4fhhkt0lc71b78q71tqhiav762k7ks9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492470960559-4fhhkt0lc71b78q71tqhiav762k7ks9e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>492470960559-6ur6btqlt7ebd6ftdqspntj75hv2d83l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ5RPmxpDtf9dziM5tO_AnSXRGV3OTGdU</string>
	<key>GCM_SENDER_ID</key>
	<string>492470960559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.melting.coupley-ios</string>
	<key>PROJECT_ID</key>
	<string>coupley-3f183</string>
	<key>STORAGE_BUCKET</key>
	<string>coupley-3f183.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492470960559:ios:de961faaf2221c0ba82f5a</string>
	<key>DATABASE_URL</key>
	<string>https://coupley-3f183.firebaseio.com</string>
</dict>
</plist>